[submodule "site-cookbooks/cookbook-yumfastestmirror"]
	path = site-cookbooks/cookbook-yumfastestmirror
	url = https://github.com/DQNEO/cookbook-yumfastestmirror.git
[submodule "site-cookbooks/chef-pleiades"]
	path = site-cookbooks/chef-pleiades
	url = https://github.com/d9magai/chef-pleiades.git
